NODE_ENV=development

PORT=5050

MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@cluster0.xxxxx.mongodb.net/qr-system?retryWrites=true&w=majority

QR_BASE_URL=https://tap2rate.store

ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d

ADMIN_ORIGINS=http://localhost:3000,https://tap2rate.store
ADMIN_FRONTEND_URL=https://tap2rate.store

ADMIN_SETUP_EMAIL=

EMAIL_HOST=
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=

GOOGLE_USER=sender@gmail.com
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=

COOKIE_SECURE=false
